# Environment Configuration
NODE_ENV=development
PORT=5000


SUPABASE_URL=https://fbdwkwobfrpipqlhelmdb.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZid3drb2JmcnBpbHFsaGVtZGR0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk3MDA0MzksImV4cCI6MjA4NTI3NjQzOX0.MeW1rVd4iY1uYVLV0LADTMvhfebZGpMs9fM9DX6OjFw
SUPABASE_BUCKET=app-storage
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZid3drb2JmcnBpbHFsaGVtZGR0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTcwMDQzOSwiZXhwIjoyMDg1Mjc2NDM5fQ.Bv3s_AuhcvCohWrUKpmzLgOh87EcVxqEbzXjBdbkQdw

# JWT Configuration
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRES_IN=7d

# OTP Configuration
OTP_EXPIRY_MINUTES=10
